@page "/Counter"
<h1>Fun Blazor Web Camera Application</h1>




@code {
    private int currentCount = 0;
    private bool isCameraRunning = false;
    private string currenException = "";








    private void IncrementCount()
    {
        
        currentCount++;
    }

}

